<meta charset="UTF-8">
<style type="text/css">@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic');
    /*Toolbar*/
    ._customer-toolbar {
        width: 100%;
        background: linear-gradient(180deg, #C05133 0%, #8F3E0F 100%);
        font: normal 16px/1 'Roboto', Arial, sans-serif;
        color: #fff;
    }
    ._customer-toolbar__cont {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1187px;
        margin: 0 auto;
        padding: 0 25px 0 25px;
    }
    ._customer-toolbar ul {
        display: flex;
        padding: 0;
        list-style: none !important;
        margin: 0 !important;
    }
    ._customer-toolbar a {
        display: flex;
        align-items: center;
        height: 55px;
        color: inherit !important;
        text-decoration: none;
        margin: 0 12px;
    }
    ._customer-toolbar {
        margin: 0;
    }
    ._customer-toolbar a:hover {
        text-decoration: underline;
    }
    ._customer-toolbar ._customer-toolbar__logo {
        width: 51px;
        margin-right: 12px;
    }
    ._customer-toolbar ._customer-toolbar__logo:hover {
        text-decoration: none;
    }
    ._customer-toolbar__contact {
        box-sizing: border-box;
        padding-left: 25px;
        position: relative;
    }
    ._customer-toolbar__contact:before {
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: calc(50% - 9px);
        left: 0;
    }
    ._customer-toolbar__contact_phone:before {
        background-image: url(img/toolbar/phone.png');
    }
    ._customer-toolbar__contact_mail:before {
        background-image: url('img/toolbar/mail.png');
    }
    ._customer-search {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 230px;
        height: 36px;
        box-sizing: border-box;
        border: 1px solid #BDBDBD;
        overflow: hidden;
        position: relative;
        margin: 0 0 0 5px !important;
    }
    ._customer-search .sf-input-wrapper {
        width: 100%;
        height: 100%;
    }
    ._customer-search input {
        width: 100%;
        height: 100% !important;
        box-sizing: border-box;
        border: none;
        outline: none;
        padding: 0 40px 0 10px !important;
        background-color: #fff;
        font: normal 12px/1 'Roboto', Arial, sans-serif !important;
        color: #828282;
    }
    ._customer-search button {
        width: 36px !important;
        height: 36px !important;
        background-color: #E0E0E0;
        background-repeat: no-repeat !important;
        background-position: center !important;
        position: absolute;
        top: -1px;
        right: -1px;
        cursor: pointer;
        border: none;
        border-left: 1px solid #BDBDBD;
        box-sizing: border-box;
        outline:none !important;
        opacity: 1 !important;
    }
    ._customer-search button:before {
        width: 36px !important;
        height: 36px !important;
        content: url('img/toolbar/search.png') !important;
        position: absolute;
        top: 2px;
        right: -1px;
        padding-top: 10px;
    }
    ._customer-search button:hover {
        opacity: .85 !important;
    }
    ._customer-search button:active {
        opacity: .7 !important;
    }
    /*end Toolbar*/
</style>
<!--Toolbar-->
<div class="_customer-toolbar">
<div class="_customer-toolbar__cont">
<ul>
	<li><a class="_customer-toolbar__logo" href="http://www.xn--h1aciijdcfd8h.xn--p1ai/" title="На главную"><img src="img/toolbar/logo_toolbar.png" /> </a></li>
	<li><a href="/about">О компании</a></li>
	<li><a href="/catalog">Ассортимент</a></li>
	<li><a href="/contacts">Контакты</a></li>
</ul>

<form accept-charset="UTF-8" accept-encoding="UTF-8" action="http://www.xn--h1aciijdcfd8h.xn--p1ai/catalog" class="_customer-search search-form with-search-icon" method="get" onsubmit="formSubmitter.disableButtons(this, null, null);">
<div style="margin:0;padding:0;display:none"><input name="utf8" type="hidden" value="✓" /></div>

<div class="sf-input-wrapper"><input class="sf-input js-reset-field" id="q2" maxlenght="255" name="q" placeholder="Найти товар или услугу..." type="text" /></div>
<button class="custom-button" name="commit" type="submit" value="Поиск"></button></form>

<ul>
	<li><a class="_customer-toolbar__contact _customer-toolbar__contact_phone" href="tel:+73912717055" onclick="yaCounter44646214.reachGoal('megasite_toolbar_email'); return true;">+7 (391) 271-70-55</a></li>
	<li><a class="_customer-toolbar__contact _customer-toolbar__contact_mail" href="mailto:v.hlopov@mail.ru " onclick="yaCounter44646214.reachGoal('megasite_toolbar_tel'); return true;">v.hlopov@mail.ru </a></li>
</ul>
</div>
</div>
<!--end Toolbar-->
